body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #006989;
    color: #F3F7EC;
}
#white-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1200px;
    background-color: #FFFFFF;
}
#white-box > #red-circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #BC002D;
}